<body class="bg-img">
    <section>
    <div class="topContainer">
        <div class="topL margin">
        <img src="images/Los Prisioneros Galaz 1984.png" alt="Grifo">
        </div>

        <div class="topC margin lawngreen">
        <span class="Top"><h1>Discografía de</h1></span><br>
        </div>  
        <div class="topR margin">
        <div class="centerMenu">
        <div><a style="text-decoration: none;"
        href='discografia'
        target="_blank"><font color="white" size=5><h3>Discografía en Stock</h3></font></a></div>
        <div><a style="text-decoration: none;"
        href="https://planetaprisionero.cl/"
        target="_blank"><font color="white" size=5><h3>Sitio Oficial</h3></font></a></div>
        </div>
        </div>
    </div>

    <div class="centerContainer">
        <div class="simpleContainer1"
        align = center>
        
        <span><h3>
            <p><font color="black" size=5>Biografía de Los Prisioneros</font></p></h3>
                <br>
           <h4><p><font color="black" size=4>Formación y primeros años (1979-1985).</font></p></h4>   
                <br>
           <h4><p><font color="black" size=2>                   
En marzo de 1979, Jorge González, Miguel Tapia —ambos de catorce años de edad— y Claudio Narea —de trece años— se conocieron al cursar juntos el primer año de enseñanza media en el Liceo 6 (actual Liceo Andrés Bello) de la comuna de San Miguel de Santiago (Chile). González y Narea descubrieron que ambos apreciaban al grupo Kiss, lo que constituyó la base de afinidad que los llevó a estrechar lazos de amistad. En 1980, ambos se unieron a los hermanos Álvaro y Rodrigo Beltrán para crear Los Pseudopillos, ocurrencia de nombre que surgió en clase de biología, cuando su profesora mencionó la palabra «pseudópodo». Este era un cuarteto vocal con el que grabaron más de un centenar de canciones humorísticas para las que empleaban únicamente objetos caseros como percusión. Paralelamente, González se reunía con Tapia a componer, mientras planificaban un proyecto musical más ambicioso: querían ser tan famosos como The Beatles. Inspirados en la dupla Lennon-McCartney, sobre quienes, erróneamente, pensaban que se dividían las labores de composición, Tapia escribía la letra de las canciones y González componía la música en piano o guitarra, pero al poco tiempo González decidió hacerse cargo también de los textos. Ya que Tapia se refería a los Beatles como «Los Escarabajos», Narea bautizó al grupo como Los Vinchukas que hacía referencia a la vinchuca, mencionada también en clase de biología. Posteriormente, lo invitaron a unirse a la banda, y poco después, se unió Álvaro Beltrán. Además, la banda consiguió una batería de segunda mano que le había pertenecido a un grupo de cumbia.

El cuarteto hizo debut el 14 de agosto de 1982 en su propio liceo, y dos meses más tarde se presentarían en el Liceo 1 de Niñas, en su misma comuna. Sin embargo, a pocos días de egresar de 4° medio ese mismo año, el grupo tuvo sus primeras diferencias serias, lo que motivó su división. Tres meses después, Narea se reintegró mientras que Álvaro se mantuvo alejado. Los Vinchukas, ahora convertidos en un trío, estaban muy decididos a dedicarse profesionalmente a la música y buscaron un nuevo nombre, más definitivo para esta nueva etapa. Primero habían escogido «Los Criminales», pero pronto Tapia sugirió «Los Prisioneros», idea que finalmente prosperó. El nombre quedaría como marca de propiedad del baterista cuando este lo registró el 19 de diciembre de 1986, con el giro de «grupo musical» en el Ministerio de Economía. La primera vez que tocaron bajo Los Prisioneros fue el 1 de julio de 1983 en el instituto Miguel León Prado.

En marzo de 1983, González ingresó en la Facultad de Artes de la Universidad de Chile para estudiar licenciatura en música, allí conoció a Igor Rodríguez (futuro miembro de Aparato Raro), Robert Rodríguez (futuro miembro de Banda 69) y a Carlos Fonseca, con el último entabló rápidamente una amistad y poco después, Fonseca lo invitó a conocer y escuchar música en su tienda de discos Fusión. Pronto, González dejó la carrera para enfocarse en el grupo, Fonseca también lo hizo para dedicarse a su tienda de música, además tenía un programa en Radio Beethoven llamado Fusión contemporánea y tenía pensado hacer un especial para fin de año con artista chilenos nuevos, González le llevó uno demos que había grabado en una radio-casetera en su casa, más un tema en directo y quedó asombrado al escucharlas, entonces le propuso regrabarlas para incluirlas en el especial. Cuando Fonseca conoció al resto de la banda, sugirió reemplazar a Narea ya que consideraba que este no era un buen guitarrista, pero González y Tapia se negaron porque los tres formaban Los Prisioneros.

En noviembre Los Prisioneros grabaron los primeros demos en un estudio amateur armado por Fonseca en el segundo piso de Fusión. Al otro mes, presentó «La voz de los '80» y «Brigada de negro» en su programa radial. Además, habló favorablemente del grupo en la revista Wikén, suplemento de El Mercurio, para la nota sobre el especial, y en abril de 1984, escribió un artículo sobre la banda en la revista Mundo Diners Club, bajo el nombre de Alberto Velazco.
        </font></p>
        </h4>
        </span>
        </div>
        
        <div class="simpleContainer2 margin" align="center">
            <span><h3><font color="white" size=6>Integrantes</font></h3><br>
                <h4><font color="white" size=4>
                <p>
                <br><br><br><br>
                *Jorge González - Vocalista, bajo, guitarra, teclado (1983-1992, 2001-2006).
                <br>
                <br>
                *Claudio Narea - Guitarra, teclado, coros (1983-1990, 2001-2003).
                <br>
                <br>
                *Miguel Tapia - Batería, teclado, segunda voz (1983-1992, 2001-2006).
                <br>
                <br>
                *Cecilia Aguayo - Teclado, coros (1990-1992, apoyo en vivo).
                <br>
                <br>
                *Robert Rodríguez - Bajo, guitarra, teclado, coros (1990-1992, apoyo en vivo).
                <br>
                <br>
                *Sergio Coti Badilla - Teclado, guitarra (2003, apoyo en vivo; 2004-2006).
                <br>
                <br>
                *Álvaro Henríquez - Guitarra, coros (2003, apoyo en vivo).
                <br>
                <br>
                *Gonzalo Yáñez - Guitarra, coros (2004-2005).
                </p>
            </font>
            </h4></span>
        </div>
    </div>
    <br>
    <div class="bottomContainer" align="center">
    <span><h3><font color="white" size=6>Luis_Magaña_FrontEnd</font></h3></span>    
    </div>
    <br>

    <footer class="margin1" align="center">
    <span><h3><font color="gray" size=4>Para Mayor información, Visita Sus redes Sociales</font></h3></span>   
       
    <div class="sociales" >
    <a href="https://www.facebook.com/planetaprisionero/"
    target="_blank">
    <img src="https://img.icons8.com/color/50/000000/facebook-circled--v4.png"
    style="margin-right: 80px;">
    </a>

    <a href="https://twitter.com/pprisionero"
    target="_blank">
    <img src="https://img.icons8.com/color/50/000000/twitter--v2.png"
     style="margin-right: 80px;">
    </a>
      
    <a href="https://www.instagram.com/planetaprisionero/"
    target="_blank">
    <img src="https://img.icons8.com/color/48/000000/instagram-new.png"
    style="margin-right: 80px;">
    </a>    
    
    <a href="https://www.youtube.com/channel/UCYvK6UYKyaf0ykPLh7lWwBw"
    target="_blank">
    <img src="https://img.icons8.com/color/50/000000/youtube-play.png">
    </a>   
    
    </div> 

    </footer> 
    </section>

</body>
</html>